*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a2e;
}

canvas {
    display: block;
    image-rendering: -webkit-optimize-contrast; /* For Edge 79+ and WebKit browsers */         
    image-rendering: pixelated;                /* Optional fallback for Chrome/Firefox */
}

